header {
  width: 100%;
  height: 100px;
  background-color: #f9f9f9;
  /* 
    Protip: layering multiple box shadows can create a
    richer shadow effect than just using a single one.
  */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15),
    0px 1px 0.5px rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: center;

}

.participant {
  width:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.participant img{
  width: 70px;
  border-radius: 50%;
}

.participant p {
  padding: 5px;
  margin: 0;
  text-align: center;
}